.para-style{
color: rgb(255, 0, 51);
font-size: 50px;
font-weight: bold;
/* font-style: italic; */
cursor: pointer;
margin: 15px 0px ;
  transition: all 0.3s ease 0s;
}
/* #clickId{
    cursor: pointer;
    width: 70px;
    padding: 10px 0;
    background-color: rgb(34, 148, 255);
    border: none;
    color: white;
    box-sizing: border-box;
    outline:none;
} */
#clickId{
 width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}
#clickId:hover{
    background-color: #2e9ce5;
  box-shadow: 0px 15px 20px rgba(46, 131, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#clickId2{
 width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}
#clickId2:hover{
    background-color: #e52e3d;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.mybutton{
  width: 80px;
  height: 40px;
  background-color:rgb(192, 82, 255);
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 20px;
  border-radius: 25px;

}

.nStyle{
  box-shadow: 0px 15px 20px rgba(171, 46, 229, 0.4);
  transition: all 0.3s ease 0s;
}
.myImage{
  width: 200px;
}

