/* * {
    margin: 0;
    padding: 0;
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* .container {
    width: 500px;
    display: block;

}

.container .input-field {
    display: block;
}

.container.btn {
    width: 500px;
} */